@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@400;700&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

footer {
  flex-shrink: 0;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #465b5d;
  color: white;
  text-align: center;
  margin-top: auto;
}

body {
  flex: 1 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 50%;
}

/* Hide paragraph above textarea in create 
  post view from large screens*/
.dynamic-p {
  display: none;
}

/* Settings for screen widths smaller than 767px*/
@media (max-width: 767px) {
  /* Show paragraph above textarea in create 
  post view from large screens*/
  .dynamic-p {
    display: block !important;
  }

  /* Center content in detailed post preview*/
  .centering {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* Settings for image in detailed post preview */
  .img-preview {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-left: auto !important;
  }

  /* Settings for edit and delete buttons in detailed post preview */
  .edit-delete-btns {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  /* Remove default align-items-end setting */
  .align-items-end {
    align-items: initial !important;
  }

  /* Reduce size of upload image button in add post view */
  .img-upload-div {
    font-size: 0.9em;
  }
}

/* Settings for article in preview mode */
.art-bg {
  background-color: #9fb2acf0;
  word-wrap: break-word;
}

/* Background color of detailed post view article */
.art-bg-main {
  background-color: #b2b6b5;
  word-wrap: break-word;
}

/* Background color of comment section */
.cm-bg {
  background-color: #ffb581;
}

/* Settings for buttons:
>> Used to create posts in add post view;
>> Used to update posts in edit post view
 */
#button {
  background: linear-gradient(to right, #ef9661, #ffca92);
  color: rgb(77 54 54);
  border: none;
}

/* Color of message in navbar when user is logged in */
#logged-in-msg {
  color: #ffffff;
}

/* Settings for the username in navbar*/
#logged-username {
  color: #ffc096;
  font-weight: 800;
}

/* Settings for the edit and delete icon buttons in the post preview */
.edit-delete {
  padding: 15px 15px;
  margin-left: 20px;
  align-items: center;
}

/* Color of the edit icon button */
.edit-delete i.fa-pencil-alt {
  color: #525252;
}

/* Color of the delete icon button */
.edit-delete i.fa-trash-alt {
  color: #d6334e;
}

/* Making sure that opening modals won't disturb
the state of the page in the background */
body.modal-open {
  padding-right: 0 !important;
  overflow: auto !important;
}

/* Parent flex settings for the post image in detailed post view */
figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Settings for the post image in detailed post view */
.post-img {
  width: 100%;
  max-height: 40em;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Settings for the pagination button */
.pagination-btn {
  background: linear-gradient(to right, #ef9661, #ffca92) !important;
  border-radius: 5px;
  border: none !important;
  color: rgb(77 54 54) !important;
  font-weight: 600;
}

/* Background color for the about and search cards */
.card-widget {
  background-color: #d3d3d3;
}

/* Background color for the about and search cards header */
.card-header-bg {
  background-color: #9fb2ac !important;
}

/* Settings for the search button in the search card */
.btn-search {
  background: linear-gradient(to right, #ef9661, #ffca92);
  color: rgb(110 59 59) !important;
  font-weight: 600 !important;
  border: none !important;
}

/* Settings for the badge that shows pagination number */
.pagination-badge {
  background: #666052;
  color: rgb(255, 255, 255) !important;
  font-weight: 600 !important;
  border: 1px solid #000000;
  font-size: 1em !important;
}

/* Color of the social icons in the footer */
.btn-social-icon {
  color: #ffffff !important;
}

/* Hover color of the social icons in the footer */
.btn-social-icon:hover {
  background-color: rgb(118, 145, 146) !important;
}

/* Settings for the post title in preview mode */
.post-title {
  color: #3f3939;
  font-size: 2em;
  font-weight: 500;
  font-family: "Playfair Display", sans-serif;
}

/* Settings for the post title in detailed view */
.post-title-main {
  color: #3f3939;
  font-size: 3em;
  font-weight: 500;
  font-family: "Playfair Display", sans-serif;
}

/* Settings for the post description text */
.post-description {
  color: #000000;
  font-size: 1.1em;
  font-family: "Open Sans", sans-serif;
}

/* Color of the date stamp on comments */
.comment-date {
  color: #695a5a;
}

/* Font size of commenter username text*/
.comment-usertag {
  font-size: 1.2em;
}

/* Settings for add comment button */
.btn-submit {
  background: #666052 !important;
  color: rgb(255, 255, 255) !important;
  font-weight: 600 !important;
  border: none !important;
}

/* Removing text decoration for links */
a {
  text-decoration: none !important;
}

/* Settings for buttons:
Used in register new user view
Used in login view */
.btn-login-reg {
  background: linear-gradient(to right, #ef9661, #ffca92) !important;
  color: rgb(77 54 54) !important;
  font-weight: 600 !important;
  border: none !important;
}

/* Background color for the servings and preptime badge tags */
.badge {
  background-color: #465b5d !important;
  color: #4b4c4d;
}

/* Settings for the like icon button */
.heart-icon {
  color: red;
  font-size: 1.5em;
  float: right;
}

/* Settings to push the edit, delete and like
buttons to the right in detailed post view */
.pushed-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Settings for the likes counter */
.like-counter {
  color: #000000;
  font-weight: 600;
}

/* Adding padding left to the likes counter in post preview
for screens smaller than 767px*/
@media (min-width: 767px) {
  .likes-preview {
    padding-left: 80px !important;
  }
}

/* Parent settings for image in post preview */
.img-preview {
  width: 11em !important;
  height: 11em !important;
  overflow: hidden;
  position: relative;
  margin-left: 15px;
}

/* Settings for image in post preview */
.img-preview img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Text color for searchable links in search card:
search by servings;
search by preptime*/
.search-term {
  color: #3c85a6;
}

/* Settings for separator in comment section */
hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

/* Make sure modal doesn't interfere with navbar when opened */
body.modal-open .navbar {
  padding-right: calc(var(--bs-gutter-x) + 15px) !important;
}

/* Bootstrap navbar settings, color scheme changed */
.navbar {
  background-color: #465b5d;
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: rgba(0, 0, 0, 0.55);
  --bs-navbar-hover-color: rgba(0, 0, 0, 0.7);
  --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
  --bs-navbar-active-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
  --bs-navbar-toggler-border-radius: 0.375rem;
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  position: fixed;
  width: 100%;
}

/* Bootstrap navbar-dark settings, color scheme changed */
.navbar-dark {
  --bs-navbar-color: rgba(255, 255, 255, 0.55);
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
  --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
  --bs-navbar-active-color: #fff;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
