{% extends "base.html" %}
{% load static %}
{% block body_style %}
background-image: url('{% static 'assets/coffee.png' %}');
background-size: 50%;
background-repeat: repeat;
{% endblock %}
{% block content %}







<section
  class="vh-100">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-9">
          <div class="card" style="border-radius: 15px" id="mrg">
            <div class="card-body p-5">
            {% for message in messages %}
              {% if message.tags == 'error' %}
              <div class="alert alert-danger">{{ message }}</div>
              {% endif %}
              {% endfor %}
              <h2
                class="text-center mb-5"
                style="color: #e6a26a; font-weight: bold"
              >
                <i class="fas fa-utensils"></i><br />
                Let's get cooking!<br />Fill out the form below to share your
                recipe with the world
              </h2>

              <form method="POST" enctype="multipart/form-data" id="add_post_form">
                {% csrf_token %}
                <div class="form-outline mb-4">
                  <input
                    type="text"
                    name="title"
                    id="postTitle"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="postTitle">Recipe Title (required)</label>
                </div>

                <div class="form-outline mb-4">
                  <textarea
                    name="description"
                    id="postBody"
                    class="form-control form-control-lg"
                  ></textarea>
                  <label class="form-label" for="postBody">Recipe Description (required)</label>
                </div>
                <label for="postPic">Choose an image</label>
                <input
                  name="image"
                  type="file"
                  class="form-control-file"
                  id="postPic"
                />

                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-success btn-block btn-lg fw-bold mt-5 create-post-btn"
                    id="button"
                  >
                    Create
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
