{% extends "base.html" %} {% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 bg-white" id="mrg">
      <div class="container mt-5">
        <div class="row">
          <div class="col-lg-8 bg-white mx-auto">
            <form class="add-form" id="mrg" method="POST">
            {% csrf_token %}
              <div class="form-group">
                <label for="postTitle">Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="postTitle"
                  placeholder="Enter post title"
                  required
                />
              </div>
              <div class="form-group">
                <label for="postBody">Body</label>
                <textarea
                  class="form-control"
                  id="postBody"
                  rows="3"
                  placeholder="Enter post body"
                  required
                ></textarea>
              </div>
              <label for="postPic">Choose an image</label>
              <input
                type="file"
                class="form-control-file"
                id="postPic"
              />
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4">
      <!-- Search widget-->
      <div class="card mb-4">
        <div class="card-header">Search</div>
        <div class="card-body">
          <div class="input-group">
            <input
              class="form-control"
              type="text"
              placeholder="Enter search term..."
              aria-label="Enter search term..."
              aria-describedby="button-search"
            />
            <button class="btn btn-primary" id="button-search" type="button">
              Go!
            </button>
          </div>
        </div>
      </div>
      <!-- Categories widget-->
      <div class="card mb-4">
        <div class="card-header">Categories</div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">Web Design</a></li>
                <li><a href="#!">HTML</a></li>
                <li><a href="#!">Freebies</a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">JavaScript</a></li>
                <li><a href="#!">CSS</a></li>
                <li><a href="#!">Tutorials</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
