{% extends "base.html" %}
{% load static %}
<!-- Background settings -->
{% block body_style %}
background-image: url('{% static 'assets/cuisine-pattern.png' %}');
background-size: 50%; background-repeat: repeat; 
{% endblock %}

{% block content %}
<!-- Main container for adding a post -->
<div class="container mb-5 main">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-9">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body">
                            <!-- Displaying messages -->
                            {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div class="alert alert-danger text-center">{{ message }}</div>
                            {% endif %}
                            {% endfor %}
                            <h2 class="text-center mb-5" style="color: #e6a26a; font-weight: bold;">
                                <!-- Page title -->
                                <i class="fas fa-utensils"></i><br>
                                Let's Get Cooking!
                            </h2>
                            <!-- Post submission form -->
                            <form method="POST" enctype="multipart/form-data" id="add_post_form">
                                {% csrf_token %}
                                <!-- Input for recipe title -->
                                <label class="form-label" for="postTitle">Recipe Title (Required)</label>
                                <div class="form-outline mb-3">
                                    <input type="text" name="title" id="postTitle" class="form-control form-control-lg" >
                                </div>
                                <div>
                                    <!-- Selections for prep time and servings -->
                                    <div class="col-md-5">
                                        <!-- Preparation time dropdown -->
                                        <label for="preptime">Preparation Time (Required)</label>
                                        <select id="preptime" name="preptime" class="form-control">
                                            <option selected>Choose...</option>
                                            <option value="20">Up to 20 minutes</option>
                                            <option value="20-40">From 20 to 40 minutes</option>
                                            <option value="40+">40 minutes or more</option>
                                        </select>
                                    </div>
                                    <div class="col-md-5 mb-4">
                                        <!-- Servings dropdown -->
                                        <label for="servings">Servings (Required)</label>
                                        <select id="servings" name="servings" class="form-control">
                                            <option selected>Choose...</option>
                                            <option value="1-2">1-2 people</option>
                                            <option value="2-4">2-4 people</option>
                                            <option value="4+">4+ people</option>
                                        </select>
                                    </div>
                                </div>
                                <label class="form-label" for="postBody">Recipe Instructions (Required)</label>
                                <p class="text-muted dynamic-p">
                                    Please slide the formatting options to the left or click on the three dots for more.
                                </p>
                                <div class="form-outline mb-3">
                                    <!-- Textarea for recipe instructions -->
                                    <textarea name="description" id="postBody" rows="10" class="form-control form-control-lg">
                                        <h3>Ingredients:</h3>
                                        <ul>
                                          <li>Add ingredient and measurement here</li>
                                          <li>Add ingredient and measurement here</li>
                                          <li>Add ingredient and measurement here</li>
                                          </ul><h3>Instructions:</h3><br>
                                    </textarea>
                                </div>
                                <!-- Image upload section -->
                                <div class="img-upload-div">
                                    <label for="postPic">Choose One Image (Optional)</label>
                                    <input name="image" type="file" class="form-control-file" id="postPic" >
                                    <!-- Encouraging user to upload a good image -->
                                    <div class="form-text text-muted pb-3">
                                        <ul>
                                            <li>Tip: a good image makes your recipe more appealing!</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <!-- Submit button -->
                                    <button type="submit" class="btn btn-success btn-block btn-lg fw-bold mt-5 create-post-btn button">
                                        Create
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
