{% extends "base.html" %} {% block content %} {% load static %}

<div class="container mt-5">
  {% for message in messages %} {% if message.tags == 'success' %}
  <div class="alert alert-success text-center">{{ message }}</div>
  {% endif %} {% endfor %}
  <div class="row">
    <div class="col-lg-8">
      <!-- Post content-->
      {% for post in object_list %}
      <article class="art-bg rounded">
        <!-- Post header-->
        <header class="mb-4 p-2">
          <!-- Post title-->
          <a href="{% url 'post_details' slug=post.slug %}">
            <h1 class="fw-bolder mb-1 text-center title">{{ post.title }}</h1>
          </a>
          <!-- Post meta content-->
          <div class="text-muted fst-italic mb-2 text-end">
            Posted on {{ post.date|date:'d/m/Y' }}, by {{post.author}}
          </div>
          <!-- Post categories-->
          <div class="text-end">
            <a id="categ" class="badge text-decoration-none" href="#!">Fish</a>
            <a id="categ" class="badge text-decoration-none" href="#!"
              >Mediterranean</a
            >
          </div>
        </header>
        <!-- Preview image figure-->
        <figure class="mb-4">
          <a href="{% url 'post_details' slug=post.slug %}">
            {% if post.image and post.image.url %}
            <img
              class="img-fluid rounded"
              src="{{ post.image.url }}"
              alt="{{ post.title }}"
            />
            {% else %}
            <img
              class="img-fluid rounded"
              src="{% static 'assets/food_placeholder.png' %}"
              alt="{{ post.title }}"
            />
            {% endif %}
          </a>
        </figure>
        <!-- Post content-->
        <section class="mb-5 p-2">
          <a href="{% url 'post_details' slug=post.slug %}">
            <p class="fs-5 mb-4">
              {{ post.description|safe|truncatechars:200 }}
            </p>
          </a>
        </section>
      </article>
      {% endfor %}
      <!-- Pagination buttons -->
      {% if is_paginated %}
      <nav aria-label="Page navigation">
        <p class="text-center mb-3">
          <span class="badge bg-primary"
            >Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages}}</span
          >
        </p>
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
          <li>
            <a
              href="?page={{ page_obj.previous_page_number }}"
              class="page-link"
              >&laquo; PREV</a
            >
          </li>
          {% endif %} {% if page_obj.has_next %}
          <li>
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">
              NEXT &raquo;</a
            >
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4">
      <!-- About widget-->
      <div class="card mb-4">
        <div class="card-header">About Home Cooked Harmony</div>
        <div class="card-body">
          <p class="card-text">
            Welcome to our blog!<br /><br />Here we share our favorite recipes,
            from ingredients to preparation time, and explore the world of
            blogging.<br />We hope you find the posts informative and delicious.
            Happy reading!<br /><br />Below you can search for posts or click on
            the categories to find what you are looking for.
          </p>
        </div>
      </div>
      <!-- Search widget-->
      <div class="card mb-4">
        <div class="card-header">Search</div>
        <div class="card-body">
          <div class="input-group">
            <input
              class="form-control"
              type="text"
              placeholder="Enter search term..."
              aria-label="Enter search term..."
              aria-describedby="button-search"
            />
            <button class="btn btn-primary" id="button-search" type="button">
              Go!
            </button>
          </div>
        </div>
      </div>
      <!-- Categories widget-->
      <div class="card mb-4">
        <div class="card-header">Categories</div>
        <div class="card-body">
          <div class="row">
            <h3 class="text-center">Meat & Poultry</h3>
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">Beef</a></li>
                <li><a href="#!">Chicken</a></li>
                <li><a href="#!">Pork</a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">Lamb</a></li>
                <li><a href="#!">Turkey</a></li>
                <li><a href="#!">Duck</a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">Veal</a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">Game Meat</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <h3 class="text-center">Seafood</h3>
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">General Seafood</a></li>
                <li><a href="#!">Fish</a></li>
                <li><a href="#!">Shrimp</a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">Cod</a></li>
                <li><a href="#!">Octopus</a></li>
                <li><a href="#!">Salmon</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <h3 class="text-center">Other</h3>
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">Dairy</a></li>
                <li><a href="#!">Fruits</a></li>
                <li><a href="#!">Vegetables</a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">Grains</a></li>
                <li><a href="#!">Legumes</a></li>
                <li><a href="#!">Desert</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
