{% extends "base.html" %} {% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <!-- Post content-->
      <article class="art-bg rounded">
        <!-- Post header-->
        <header class="mb-4 p-2">
          <!-- Post title-->
          <h1 class="fw-bolder mb-1 text-center title">{{ post.title }}</h1>
          <!-- Post meta content-->
          <div class="text-muted fst-italic mb-2 text-end">
            Posted on {{ post.date|date:'d/m/Y' }}, by {{post.author}}
          </div>
          <!-- Post categories-->
          <div class="text-end">
            <a id="categ" class="badge text-decoration-none" href="#!">Fish</a>
            <a id="categ" class="badge text-decoration-none" href="#!"
              >Mediterranean</a
            >
          </div>
        </header>
        <!-- Preview image figure-->
        <figure class="mb-4">
          <img
            class="img-fluid rounded"
            src="https://dummyimage.com/900x400/ced4da/6c757d.jpg"
            alt="..."
          />
        </figure>
        <!-- Post content-->
        <section class="mb-5 p-2">
          <p class="fs-5 mb-4">{{ post.description|safe }}</p>
        </section>
      </article>
      <!-- Comments section-->
      <section class="mb-5">
        <div class="card">
          <div class="card-body cm-bg rounded">
            <!-- Comment form-->
            {% if user.is_authenticated %}
            <form class="mb-4">
              <textarea
                class="form-control"
                rows="3"
                placeholder="Join the discussion and leave a comment!"
              ></textarea>
            </form>
            <!-- Comment-->
            {% for comment in comments %}
            <div class="d-flex">
              <div class="ms-3">
                <div class="fw-bold">{{ comment.user }}</div>
                <div>{{ comment.body }}</div>
              </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="d-flex">
              <div class="ms-3">
                <div class="fw-bold">Anonymous Food Enjoyer</div>
                <div>Join the discussion and leave a comment!</div>
              </div>
            {% endif %}
          </div>
        </div>
      </section>
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4">
      <!-- Search widget-->
      <div class="card mb-4">
        <div class="card-header">Search</div>
        <div class="card-body">
          <div class="input-group">
            <input
              class="form-control"
              type="text"
              placeholder="Enter search term..."
              aria-label="Enter search term..."
              aria-describedby="button-search"
            />
            <button class="btn btn-primary" id="button-search" type="button">
              Go!
            </button>
          </div>
        </div>
      </div>
      <!-- Categories widget-->
      <div class="card mb-4">
        <div class="card-header">Categories</div>
        <div class="card-body">
          <div class="row">
            <h3 class="text-center">Meat & Poultry</h3>
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">Beef</a></li>
                <li><a href="#!">Chicken</a></li>
                <li><a href="#!">Pork</a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">Lamb</a></li>
                <li><a href="#!">Turkey</a></li>
                <li><a href="#!">Duck</a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">Veal</a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">Game Meat</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <h3 class="text-center">Seafood</h3>
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">General Seafood</a></li>
                <li><a href="#!">Fish</a></li>
                <li><a href="#!">Shrimp</a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">Cod</a></li>
                <li><a href="#!">Octopus</a></li>
                <li><a href="#!">Salmon</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <h3 class="text-center">Other</h3>
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">Dairy</a></li>
                <li><a href="#!">Fruits</a></li>
                <li><a href="#!">Vegetables</a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">Grains</a></li>
                <li><a href="#!">Legumes</a></li>
                <li><a href="#!">Desert</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
