{% extends "base.html" %} {% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <!-- Post content-->
      <article class="art-bg rounded">
        <!-- Post header-->
        <header class="mb-4 p-2">
          <!-- Post title-->
          <h1 class="fw-bolder mb-1 text-center title">{{ post.title }}</h1>
          <!-- Post meta content-->
          <div class="text-muted fst-italic mb-2 text-end">
            Posted on {{ post.date|date:'d/m/Y' }}, by {{post.author}}
          </div>
          <!-- Post categories-->
          <div class="text-end">
            <a id="categ" class="badge text-decoration-none" href="#!">Fish</a>
            <a id="categ" class="badge text-decoration-none" href="#!"
              >Mediterranean</a
            >
          </div>
        </header>
        <!-- Preview image figure-->
        <figure class="mb-4">
          <img
            class="img-fluid rounded"
            src="https://dummyimage.com/900x400/ced4da/6c757d.jpg"
            alt="..."
          />
        </figure>
        <!-- Post content-->
        <section class="mb-5 p-2">
          <p class="fs-5 mb-4">{{ post.description }}</p>
        </section>
      </article>
      <!-- Comments section-->
      <section class="mb-5">
        <div class="card">
          <div class="card-body cm-bg rounded">
            <!-- Comment form-->
            <form class="mb-4">
              <textarea
                class="form-control"
                rows="3"
                placeholder="Join the discussion and leave a comment!"
              ></textarea>
            </form>
            <!-- Comment-->
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img
                  class="rounded-circle"
                  src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                  alt="..."
                />
              </div>
              <div class="ms-3">
                <div class="fw-bold">Commenter Name</div>
                When I look at the universe and all the ways the universe wants
                to kill us, I find it hard to reconcile that with statements of
                beneficence.
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4">
      <!-- Search widget-->
      <div class="card mb-4">
        <div class="card-header">Search</div>
        <div class="card-body">
          <div class="input-group">
            <input
              class="form-control"
              type="text"
              placeholder="Enter search term..."
              aria-label="Enter search term..."
              aria-describedby="button-search"
            />
            <button class="btn btn-primary" id="button-search" type="button">
              Go!
            </button>
          </div>
        </div>
      </div>
      <!-- Categories widget-->
      <div class="card mb-4">
        <div class="card-header">Categories</div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">Web Design</a></li>
                <li><a href="#!">HTML</a></li>
                <li><a href="#!">Freebies</a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!">JavaScript</a></li>
                <li><a href="#!">CSS</a></li>
                <li><a href="#!">Tutorials</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
