{% extends "base.html" %}
{% load static %}
<!-- Background settings -->
{% block body_style %}
background-image: url('{% static 'assets/veggies.png' %}'); background-size: 50%; background-repeat: repeat;
{% endblock %}
<!-- Main content block -->
{% block content %}

<!-- Main container -->
<div class="container mt-5 mb-5">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px">
            <div class="card-body p-5">
              <!-- Message display for errors -->
              {% for message in messages %}
              {% if message.tags == 'error' %}
              <div class="alert alert-danger text-center">{{ message }}</div>
              {% endif %}
              {% endfor %}
              <!-- Registration form header -->
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <!-- Registration form -->
              <form method="POST">
                {% csrf_token %}
                <!-- Username input -->
                <div class="form-outline mb-4">
                  <input type="text" name="username" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Your Username</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" name="password1" id="form3Example4cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <!-- Password repeat input -->
                <div class="form-outline mb-4">
                  <input type="password" name="password2" id="form3Example4cdg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                  <!-- Password criteria -->
                  <small class="form-text text-muted pb-3">
                    <ul>
                      <li>Your password cannot be similar to your username</li>
                      <li>Your password must contain at least 8 characters</li>
                      <li>Your password can't be a commonly used password</li>
                      <li>Your password can't be entirely numeric</li>
                    </ul>
                  </small>
                </div>

                <!-- Registration button -->
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-login btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <!-- Link to the login page -->
                <p class="text-center text-muted mt-5 mb-0">
                  Have already an account? <a href="{% url 'login' %}" class="fw-bold text-body"><u>Login here</u></a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
